.tourCard--Content {
  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 1rem 0;
    color: #313131;
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    font-size: 14px;
    text-align: center;
    color: #7f7878;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    color:  #7f7878;
  }
 
}

.locationBox {
  display: flex;
  justify-content: space-between;
  h3 {
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    line-height: 5px;
    color: #b61717;
  }

  span {
    font-size: 10px;
    line-height: 10px;
    color: #aeaeae;
  }
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  background-color: #f97150;
  border: solid 1px #ffffff;
  color: #08183c;
  padding: 9px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  // box-shadow: 0 3px 10px #193047;
  border-radius: 50px;
}

.button:hover {
  background: #ffffff;
  // box-shadow: 0px 2px 10px 5px #8a938a;
  color: #f97150;
  border: solid 1px #08183c;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }

.button1 {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  background-color: #ffffff;
  border: solid 1px #08183c;
  color: #f97150;
  padding: 9px;
  width: 130px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  // box-shadow: 0 3px 10px #193047;
  border-radius: 50px;
  margin-left: 40px;
}

.button1:hover {
  background: #f97150;
  // box-shadow: 0px 2px 10px 5px #8a938a;
  color: #08183c;
  border: #f97150
}

.button1:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.para {
  font-size: 15px;
  margin: 13px;
  text-align: right;
  justify-content: right;
  font-weight: bold;
}
.label_socho {
  color: red;
  font-size: 20px;
  
}

.tourCard--Content .trangthai {
  color: green;
  text-align: center;
}
.numberOfTour1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 1.3rem;
  right: 1.3rem;
  border-radius: 7px;
  background-color: rgba(239, 234, 234, 0.948);
  // background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
  padding: 0.5rem 1rem;
  color:#08183c;
  font-weight: bold;
}