.thongtin {
    p {
        font-size: 35px;
        color: #f97150;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
}
label {
    color: #08183c;
}
