.button_n1 {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    /* padding: 1em 1em 1em; */
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1rem;
    color: #7dbce6;
}
i{
    font-size: 1rem;
}
.button_n1:before,
.button_n1:after {
    width: 4em;
    height: 2.9em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
   
}

.button_n1:before {
    top: -25%;
    left: 20%;
}

.button_n1:after {
    bottom: -25%;
    right: 20%;
}

.button_n1:hover:before,
.button_n1:hover:after {
    transform: none;
    /* color: black; */
}
