.img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;

}
.img:hover {
    transform: scale(1.25,1.25);
-webkit-transform: scale(1.25,1.25);
-moz-transform: scale(1.25,1.25);
-o-transform: scale(1.25,1.25);
-ms-transform: scale(1.25,1.25);
}