.tour--item {
    p {
    color: rgb(30, 19, 102);
    font-size: 15px;
    font-weight: bold;
}}
.tour_dadat {
    p {
        font-size: 35px;
        color: #f97150;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    
}