.categoryList {
}

.category {
  height: 100%;
  background: none;
}

.category--heading {
  width: 100%;
  padding: 1rem 4rem;
  margin-top: -2rem;
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  p {
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color:#f97150;
  }
}
