.pagementContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn--group {
  display: flex;
  justify-content: center;
  button {
    margin: 1rem;
  }
}
.payment_h {
  p {
      font-size: 35px;
      color: #f97150;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
}


