.pagementContent {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  align-items: center;
}

.btn--group {
  display: flex;
  justify-content: center;
  button {
    margin: 1rem;
  }
}
.payment_h {
  p {
      font-size: 35px;
      color: #f97150;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
}
.hinhthucTT {
  margin-top: 5rem;
  margin-left: 10rem;
  left: 50%;
  // text-align: center;
  p {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #08183c;
    text-align: center;
  }
  
}
.StripeElement {
  height: 60px;
  padding: 20px;
  margin-left: 80px;
  width: 80%;
  // margin: 20px;
  margin-bottom: 20px;
  color: #08183c;
  background-color: rgb(232, 227, 227);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;

  // -webkit-transition: box-shadow 150ms ease;
  // transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

