.AccompanyInfor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.accompany--input {
  display: Flex;
  gap: 0.5rem;
  flex-direction: row;
  .thongtin_input {
    color: #08183c;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: -5rem;
    margin-top: 25px;
  }
}

.accompanyInfoData {
  padding-left: 5rem
}
