.img--content{
    text-align: center;
    img{
        width: 150px;
    height: 150px;
    border-radius: 100%;

}
p{
    font-size: 16px;
    font-weight: bold;
    color:#08183c;
}
p:hover {
    color:#f97150;
}
    }
