/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.bg-cover {
    background-size: cover !important;
    /* height: 1000px !important; */
}
.tourmoi {
    font-size: 35px;
    color: #f97150;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}
